body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 10px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}
.intro-section {
    height: 100%;
    padding-top: 100px;
    text-align: center;
    background-image: url('images/ninja.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
	background-position:center; 
}

.about-section {
    height: 100%;
    padding-top: 30px;
    text-align: center;
    background: dodgerblue;
}

.services-section {
	height: 145%;
    padding-top: 50px;
	padding-bottom: 20px;
    text-align: center;
    background:  lightgrey;
}

.contact-section {
    height: 145%;
    padding-top: 50px;
    text-align: center;
    background: orangered;
}
.wrapper {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	margin: auto;
	width: 100%;
	height: 100%;
}
.html5-dialog {
	width: 300px;
	margin: 0 auto;
	border-radius: 3px;
	margin-bottom: 50px;
}
.html5-dialog dialog {
	width: 399px;
}
.html5-dialog button#show,button#show2,button#show3 {
	position: relative;
	background-color: #1F77EC;
	border-radius: 3px;
	color: #fff;
	border-width: 0;
	width: 200px;
}
.html5-dialog button#exit,button#exit2,button#exit3 {
	background-color: #c0392b;
	border-radius: 3px;
	color: #fff;
	border-width: 0;
	width: 80px;
	height: 30px;
	line-height: 28px;
}
.html5-dialog button#show,button#show2,button#show3:hover {
	background-color: #1F77EC;
}
.html5-dialog button#exit,button#exit2,button#exit3:hover {
	background-color: #c0392b;
}
.html5-dialog dialog::backdrop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 1200px) {
    .html5-dialog dialog{
        visibility: hidden;
}
.img-circle{
display:none;
visibility: hidden;
}
}